/* #error-btn {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font: inherit;
    font-size: 24px;
    padding: 8px,12px;
} 

#success-btn {
    background-color:green;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font: inherit;
    font-size: 24px;
    padding: 8px,12px;
} 


#error-btn {
    background-color: red;
    color: white;
}

.success-text {
    color: green;
    padding: 1px;
}

.error-text {
    color: red;
    padding: 1px;
}             */


