.btn {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 12px;
} 

#register-Btn {
    background-color: red;
    color: white;
}

#re-btn {
    background-color: red;
    color: white;
}